* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{

    border: 0px;
    padding: 0px;
    height: 100vh;
    width : 100%;

    background:rgba(0, 0, 0, 0.779);
    background-image : url(bg.jpg);
    background-size: cover;
    background-blend-mode: overlay;

}

.nav {

    padding: 15px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav img {
    width: 130px;
}

.nav button {

    margin-left: 50px;
    padding: 10px 15px;
    background-color: #ee1212;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.intro{

    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px 0px;
}

.intro h1{
    font-size: 65px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0px;
    font-weight: bolder;
}

.intro h2{
    padding: 0px;
    font-size: 25px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: lighter;
}

.intro p{
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

.search{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search input{
    margin: 15px;
    padding: 20px;
    width: 400px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: medium;
    background-color: rgba(37, 37, 37, 0.605);
    border: 2px solid #878787;
    color: #fff;
    cursor: #fff;
}


.search button{
    margin : 10px 20px;
    padding: 20px 25px;
    background-color: #ee1212;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}